@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Satisfy&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F4F0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url(fotos3/local.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:  white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #c9a538;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

form {
    
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #283629;
    font-size: 35px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: #51D94C;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #50E04B;
}

.footer {
    padding: 100px 0;
    justify-content: space-between;
    background-color: black
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link ul {
    display: flex;
    justify-content: space-between;
}

.link ul li {
    margin-right: 25px;
}

.link a {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding: 15px;
}

.link a:hover {
    color: #c9a538;
}

@media(max-width:991px) {

    body {
        padding: 30px;
    }

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffbd4c;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #2c2c2c;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    form {
        padding: 50px;
        width: 100%;
    }

    input {
        padding: 15px;
    }

    .link ul {
        flex-direction: column;
    }

    .link ul li {
        margin: 0 0 15px 0;
    }
}